{% filter trim %}
{% if env_cloud == "ps5" %}
    {%- set env_region = "prodstack5" %}
{% elif env_cloud == "ps6" %}
    {%- swwet env_region = "prodstack6" %}
{% endif %}
{% set controller_name = "juju-controller-35-" + env_stage + "-" + env_cloud %}
{% set controller_addresses = controller_name + ".dynamic.admin.canonical.com:17070" %}

provider "vault" {
  address = "https://vault.admin.canonical.com:8200"
  auth_login {
    path = "auth/approle/login"

    parameters = {
      role_id   = var.approle_role_id
      secret_id = var.approle_secret_id
    }
  }
}

data "vault_generic_secret" "juju_credentials" {
  path = "secret/{{ env_region }}/roles/{{ env_name }}/juju"
}

data "vault_generic_secret" "juju_controller_certificate" {
  path = "secret/{{ env_region }}/juju/common/ca_certs/{{ controller_name }}"
}

provider "juju" {
  controller_addresses = "{{ controller_addresses }}"
  ca_certificate       = data.vault_generic_secret.juju_controller_certificate.data["ca_cert"]
  username             = data.vault_generic_secret.juju_credentials.data["username"]
  password             = data.vault_generic_secret.juju_credentials.data["password"]
}
{% endfilter %}
