terraform {
  backend "s3" {
    key                         = "environments/{{ service_owner }}/{{ service_name }}/state"
    bucket                      = "{{ service_name }}-tfstate"
    region                      = "{{ service_region }}"
    endpoint                    = "radosgw.{{ service_cloud }}.canonical.com"
    skip_region_validation      = true
    skip_credentials_validation = true
    force_path_style            = true
  }
}
