{% set env_region = "prodstack5" %}
{% if env_cloud == "ps6" %}
{%     set env_region = "prodstack6" %}
{% endif %}
terraform {
  backend "s3" {
    key                         = "environments/{{ env_owner }}/{{ env_name }}/application/state"
    bucket                      = "{{ env_cloud }}-flux-tfstate"
    region                      = "{{ env_region }}"
    endpoint                    = "radosgw.{{ env_cloud }}.canonical.com"
    skip_region_validation      = true
    skip_credentials_validation = true
    force_path_style            = true
  }
}
