import {
  to = module.hello_kubecon.juju_model.model
  id = local.juju_model_name
}

module "hello_kubecon" {
  source = "github.com/terraform-modules.git//modules/k8s/hello_kubecon"

  juju_model_name = local.juju_model_name
  cloud_name      = local.cloud_name
}
