{% filter trim %}
{% if env_cloud == "ps5" %}
{%     set env_region = "prodstack5" %}
{% elif env_cloud == "ps6" %}
{%     set env_region = "prodstack6" %}
{% endif %}
terraform {
  backend "s3" {
    key                         = "state"
    bucket                      = "{{ env_name }}-tfstate"
    region                      = "{{ env_region }}"
    endpoints                   = {
      s3 = "https://radosgw.{{ env_cloud }}.canonical.com"
    }
    skip_region_validation      = true
    skip_credentials_validation = true
    skip_requesting_account_id  = true
    skip_s3_checksum            = true
    use_path_style              = true
  }
}
{% endfilter %}
