variable "approle_role_id" {
  description = "Approle Role ID"
  type        = string
  validation {
    condition     = var.approle_role_id != null
    error_message = "No value set for approle_role_id: Check that TF_VAR_approle_role_id has been exported."
  }
}


variable "approle_secret_id" {
  description = "Approle Secret ID"
  type        = string
  validation {
    condition     = var.approle_secret_id != null
    error_message = "No value set for approle_secret_id: Check that TF_VAR_LOGIN_approle_secret_id has been exported."
  }
}
