{% set username = service_name | replace("workshop-k8s-", "") %}
# IS GitOps Workshop 24.10

Once you have approved and merged the PR, your web service will be hosted at https://{{ username }}.workshop.admin.canonical.com


